// Order is Important
// 01. Your variable overrides
$body-bg: #f6f7fa;
$body-color: #000;

$thin-FontWeight: 300;
$mid-FontWeight: 500;
$thick-FontWeight: 700;

$sm-fontSize: .8rem;
$mid-fontSize: .9rem;

$main-transition: all 0.5s ease-in-out;

$window-height: 100vh;

$header-height: 4.5rem;

$logo-height: 2rem;
$logoShape-marginRight: 1rem;
$sideNavHeader-padding: 1rem .3rem;

$sideNavActive-width: 17rem;
$sideNavMini-width: 5rem;

$sideNavMob-width: 0;
$sideNavMobShow-width: 15rem;
$sideNavList-padding: 1rem;

$sideNavItem-fontSize: .9rem;
$sideNavItem-borderRaduis: .35rem;
$sideNavItem-color: rgba(255,255,255,0.5);
$sideNavItemActive-color: rgba(255,255,255,1);
$sideNavItemActive-bg: rgba(255,255,255,0.2);
$sideNavItem-padding: 0.4rem .5rem;
$sideNavMiniItem-padding: 0.4rem .5rem;

$sideNavIcon-width: 2rem;
$sideNavIcon-marginRight: .7rem;
$sideNavIcon-fontSize: 1.2rem;
$sideNavDropDownIcon-fontSize: 1rem;

$content-padding: 1rem 2rem;
$pageTitle-fontSize: 1.8rem;
$pageTitle-margin: 0 1rem;

$breadcrumb-color: #a5acbc;
$breadcrumbActive-color: #000;

$footer-bgColor: #efefef;
$footer-borderColor: #dad9d9;

$theme-colors: (
  "primary": #0e1239,
  "secondary": #776bfd,
  "warning": #f1b44c,
  "success": #70cc47,
  "danger": #f0696a,

);

// $transition: (
//   main: all 0.5s ease
// );

// 0.2 Import Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// 03. Your Styles
::-moz-selection{color: gray("100");background: theme-color("dark");}
::selection {color: gray("100");background: theme-color("dark");}
::-webkit-scrollbar-track {background: gray("200");}
::-webkit-scrollbar-thumb {
    background: gray("500");
    &::-webkit-scrollbar-thumb:hover {
        background: gray("600");
    }
}

/* Generals */
*{padding: 0;margin: 0;}
body{font-family: 'Poppins', sans-serif;font-weight: $thin-FontWeight;overflow-x: hidden;}
::-webkit-scrollbar {width: 10px;}
a, .btn-link{
  &:hover{
    text-decoration: none;
  }
}
.btn.btn-spec-hov{
  position: relative;
  border-width: 0;
  overflow: hidden;
  &::before{
    content: '';position: absolute;left:0;right:0;top:51%;bottom:50%;background: rgba(255,255,255,0.1);opacity: 1;
  }
  &:hover::before{
    top:0;bottom:0;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
  }
  &:disabled::before, .disabled::before{
    display: none;
  }
  & > *{
    position: relative;display: inline-block;
  }
}
.dropdown-blk{
  position: relative;
  & .dropdown-trigger{
   cursor: pointer;
  }
  & .dropdown-list{
    background-color: $white;
    display:none;
    position: absolute;
    top:130%;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    border-radius: 8px;
    overflow: hidden;
    min-width: 10rem;
    font-size: .85rem;
    padding: .5rem;
    &.dropdown-list-xs{
      min-width: 3rem;
    }
    &.dropdown-list-sm{
      min-width: 6rem;
    }
    &.dropdown-list-md{
      min-width: 15rem;
    }
    &.dropdown-list-xl{
      min-width: 20rem;
    }
    &.r-0{
      right:0;left:auto;
    }
    &.l-0{
      left:0;right:auto;
    }
    & li a{
      color: gray("800");
      padding: .5rem .4rem;
      display: block;
      border-bottom: 1px solid #f3f3f5;
      text-transform: capitalize;
      position: relative;
      &.disabled{
        pointer-events: none;
        color: gray("500");
        background-color: gray("100");
      }
      &:hover{
          color: theme-color(primary);
          background-color: gray("100");
      }
      & img{
        width: 15px;
        margin-right: .3rem;
      }
      & i{
        margin-right: .3rem;
      }
    }
    & li:last-child a{
      border: 0;
    }
  }
}


// SideNav
#side-nav{
  background-color: theme-color("primary");
  width: $sideNavActive-width;
  position: fixed;
  left: 0;
  top:0;
  height: $window-height;
  transition: $main-transition;
  z-index: 10;
  & #nav-header {
    height: $header-height;
    padding: $sideNavHeader-padding;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & .logo-shape{
      height: $logo-height;
      margin-right: $logoShape-marginRight;
    }
    & .logo-txt{
      height: $logo-height;
    }
  }
  & #nav-list ul{
    list-style-type: none;
    padding: $sideNavList-padding;
    overflow-y: auto;
    height: calc(#{$window-height} - #{$header-height});
    & li.active{
      background-color: $sideNavItemActive-bg;
      border-radius: $sideNavItem-borderRaduis;
      a{
        color: $sideNavItemActive-color!important;
      }
    }
    & li a{
      color: $sideNavItem-color;
      font-size: $sideNavItem-fontSize;
      text-transform: capitalize;
      padding: $sideNavItem-padding;
      display: flex;
      align-items: center;
      & i{
        margin-right: $sideNavIcon-marginRight;
        width: $sideNavIcon-width;
        height: $sideNavIcon-width;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: $sideNavIcon-fontSize;
      }
      &.dropdown-toggle::after{
        margin-left: auto;
      }
      &:hover{
        color: $white;
      }
    }
    & li.dropdown{ 
      &.show a{
        color: $white;
      }
      & .dropdown-menu{
        background-color: transparent;
        position: static!important;
        transform: translate3d(0, 0, 0)!important;
        box-shadow: none;
        border: 0;
        padding: 0;
        margin: 0;
        float: none;
        display: block;
        height: 0;
        transition: $main-transition;
        overflow: hidden;
        &.show{
          height: unset;
        }
        & a{
          font-weight: $thin-FontWeight;
          background-color: transparent!important;
          padding: $sideNavItem-padding;
          & i{
            font-size: $sideNavDropDownIcon-fontSize;
          }
        }
      }
    }
  }
  &.side-nav-mini{
    width: $sideNavMini-width;
    & #nav-header .logo-shape{
      margin-right: 0!important;
      margin-left: 0!important;
    }
    & .logo-txt,
    & .nav-txt,
    & .dropdown-toggle::after{
      display: none;
    }
    & #nav-list ul li a {
      padding: $sideNavMiniItem-padding;
      justify-content: center;
      & i{
        margin-right: 0;
        margin-left: 0;
      }
    }
    &.side-nav-focus{
      width: $sideNavActive-width;
      & #nav-header .logo-shape{
        margin-right: $logoShape-marginRight!important;
      }
      & .logo-txt,
      & .nav-txt,
      & .dropdown-toggle::after{
        display: block;
      }
      & #nav-list ul li a {
        padding: $sideNavItem-padding;
        justify-content: flex-start;
        & i{
          margin-right: $sideNavIcon-marginRight;
        }
      }
    }
  }
  &.side-nav-mob{
    height: $header-height;
    width: $sideNavMini-width;
    & .logo-shape{
      margin: 0!important;
    }
    & .logo-txt{
      display: none;
    }
    & #nav-list{
      position: fixed;
      left: -100%;
      top: $header-height;
      z-index: 100;
      background: theme-color("primary");
      transition: $main-transition;
    }
    &.show{
      & #nav-list{
        left:0;
      }
    }
  }
}
// Content
#main-wrapper{
  & #main-header, 
  & #main-content,
  & #main-footer{
    padding: $content-padding;
    margin-left: $sideNavActive-width;
    transition: $main-transition;
  }
  & #main-header,
  & #main-footer{
    width: calc(100vw - #{$sideNavActive-width});
  }
  & #main-header{
    & .pg-tit{
      display: block;
    }
  }
  & #main-content{
    margin-top: $header-height;
    & .pg-tit{
      margin-right: 0!important;
      margin-left: 0!important;
      display: none;
    }
  }
  &.full-content{
    & #main-header, 
    & #main-content,
    & #main-footer{
      margin-left: $sideNavMini-width;
    }
    & #main-header,
    & #main-footer{
      width: calc(100vw - #{$sideNavMini-width});
    }
  }
  &.content-mob{
    & #main-header{
      width: calc(100vw - #{$sideNavMini-width});
    }
    & #main-content,
    & #main-footer{
      width: 100vw;
      margin-left: 0!important;
      margin-right: 0!important;
    }
    & #main-header{
      margin-left: $sideNavMini-width;
      & .pg-tit{
        display: none;
      }
    }
    & #main-content{
      & .pg-tit{
        display: block;
      }
    }
  }
}
// Header
#main-header{
  height: $header-height;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  font-size: $mid-fontSize;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  box-shadow: 0 1px 6px rgba(0,0,0,0.05);
  & .header-col{
    display: flex;
    align-items: center;
  }
  & .notification-item{
    display: flex;
    align-items: center;
    & .ico-control{
      margin-right: 1rem;
      & i{
        margin-right: 0;
      }
    }
    & p{
      margin: 0;
    }
  }
}
.hamburger {
  background-color: theme-color("secondary");
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  & .line {
    background: $white;
    display: block;
    height: 3px;
    border-radius: 3px;
    flex: 0 0 auto;
    margin-bottom: 6px;
    margin-left: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  & .line:nth-child(1) {
    width: 20px; 
  }
  & .line:nth-child(2) {
    width: 26px; 
  }
  & .line:nth-child(3) {
    width: 22px; 
    margin-bottom: 0;
  }
  &:hover {
    cursor: pointer; 
  }
  &:hover .line {
    width: 26px; 
  }
  &.is-active .line:nth-child(1),
  &.is-active .line:nth-child(3) {
    width: 10px;
    height: 2px; 
  }
  &.is-active .line:nth-child(2) {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    width: 22px;
    height: 2px; 
  }
  &.is-active .line:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg); 
  }
  &.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-4px) rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg); 
  }
  
}
.pg-tit{
  text-transform: capitalize;
  font-weight: $thick-FontWeight;
  font-size: $pageTitle-fontSize;
  margin: $pageTitle-margin;
}
.breadcrumb {
  &.plain-breadcrumb{
    background-color: transparent;
    padding: 0;
    font-size: $mid-fontSize;
    font-weight: $mid-FontWeight;
    & .breadcrumb-item {
      &::before,
      & a{
        color: $breadcrumb-color;
      }
      & a:hover{
        color: $breadcrumbActive-color;
      }
    }
    & .breadcrumb-item.active{
      color: $breadcrumbActive-color;
    }
  }
}

// Footer
#main-footer{
  background-color: $footer-bgColor;
  padding-bottom: .3rem!important;
  padding-top: .3rem!important;
  border-top: 1px solid $footer-borderColor; 
  color: gray("600");
  font-size: $sm-fontSize;
}

// Icon Controls
.ico-controls-wrapper {
  margin: 0 -.2rem;
  &.secondary-controls .ico-control{
    background-color: theme-color-level("secondary", -10);
    color: theme-color("secondary");
  }
  &.primary-controls .ico-control{
    background-color: theme-color-level("primary", -10);
    color: theme-color("primary");
  }
  &.warning-controls .ico-control{
    background-color: theme-color-level("warning", -10);
    color: theme-color("warning");
  }
  & .ico-control{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    margin: 0 .2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    position: relative;
    &.ico-lg{
      width: 2.8rem;
      height: 2.8rem;
      font-size: 1.4rem;
    }
    &.has-pulse::after{
      content: '';
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      background: #ffe600;
      right: -3px;
      top: -3px;
      border: 2px solid #fff;
      display: block;
    }
    & img{
      width: 100%;
      border-radius: 50%;
    }
  }
}


// Page Content

a, .btn:before{
  transition: $main-transition;
}